body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Arial, sans-serif, times;
  color: #000;
  background: #fcfcfc;
  max-width: 100%;
}
body.dark {
  background-color: #111111;
  color: #fcfcfc;
}
main {
  padding-top: 5rem;
}
header {
  font-size: 110%;
}
.index,
.section-title,
#pageTitle {
  font-family: "Courier New", Courier, monospace, "Georgia", "Times New Roman",
    Times, serif;
}
/*bars*/
bar {
  position: absolute;
  right: 0;
  background: #f15c2a;
  width: 100%;
  color: #fff;
  line-height: 28px;
  align-items: center;
}
body.dark bar {
  background-color: #333333;
}
bar a {
  color: #fff;
  text-decoration: none;
}
body.dark bar a {
  color: #fff;
}
/*  header*/
#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  top: 0;
  width: 100%;
}
#header img.logo {
  height: 2.25rem;
  bottom: 0.08em;
  margin-left: 1.05em;
  position: relative;
}

#header h-item {
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
#header h-item.button {
  cursor: pointer;
  height: 3rem;
  vertical-align: middle;
}
#header h-item.button:hover {
  background-color: #b13e17;
}
body.dark #header h-item.button:hover {
  background-color: #515151;
}
/*  footer*/
#footer {
  height: auto;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  -webkit-transform: translateY(55%);
  transform: translateY(55%);
}
#footer p,
#footer h2,
#footer a {
  padding: 0 10px 0 10px;
  text-align: center;
}
#footer * {
  margin-block: 0.5em;
  align-content: center;
}
#footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#footer-socials a {
  padding-right: 17px;
  padding-bottom: 5px;
}
#subfooter {
  background: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
/*links*/
@keyframes imHere {
  100% {
    color: #00dc0f;
  }
}
a {
  color: #ff5300;
}
a:hover {
  animation: imHere 3s linear 1 alternate-reverse;
}
li {
  margin-bottom: 0.7em;
}
/*math*/
.math {
  width: 90px;
  border-color: #ccc;
  margin-top: 14px;
  box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.05);
  max-width: 100%;
  background-color: #fff;
  border-color: #000;
  border-radius: 4px;
  color: #363636;
}
[type="submit"].math:hover {
  cursor: pointer;
  background-color: #f15c2a;
  border-color: #bb9d3c;
  color: #fff;
}
.mathblock header {
  color: #ee7248;
}
/*Scratch-likely button, i is placed like this: <a data-placement="left" href="https://github.com/ScratchCE/beta"> <button class="button"><span>GitHub Repository</span></button></a>*/
/*.button {
display: inline-block;
margin: 0.5em 0;
border: 0;
border-radius: 0.5rem;
background-color: #ff5300;;
cursor: pointer;
padding: 1em 1.25em;
color: #fff;
font-size: .8rem;
font-weight: bold;}
        .button:hover{background-color: #00dc0f;}*/
